* {
	box-sizing: border-box;
}

body {
	font-family: arial;
	background: #BABABA;
	color: #333;
}

img {
	height: 150px;
	width: auto;
}

a {
	text-decoration: none;
}

a:hover {
	background: #999;
	text-decoration: underline;
}

.navigation-btn {
	display: inline-block;
	background: #333;
	color: #BABABA;
	padding: 0rem 1.5rem;
}

.navigation-btn:hover {
	color: #fff;
	border-bottom: 4px solid #fff;
}